html, body {
	margin: 0;
}
#bar1, #bar2, #bar3 {
	/*display: none;*/
}
#navigation {
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
	height: 3em;
	background-color: #f7f7f7;
	box-shadow: 0 1px 9px #d4d4d4;
	z-index: 100;
}
#navigation h1{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 100;
	font-size: 25px;
	margin: 0;
	margin-top: 5px;
	letter-spacing: 3px;
	color: #807969;
}
#nav-img {
	padding-left: 1em;
	height: 100%;
	width: 50px;
	float: left;
	display: block;
}
#nav-img img{
	padding-top: 5px;
	height: 80%;
}
#nav-items {
	float: right;
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navigation li {
  float: left;
}

#navigation li a {
  display: block;
  color: #33312a;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
}

#navigation li a:hover {
  color: #998E12;
}
.header {
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: #ffdd85;
	text-align: center;
	background-image: url("../img/me.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}
.header img {
	height: 75%;
	padding-top: 4em;
}
#header-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7em;
	background-color: #56B3CC;
}
#header-bottom p {
	text-align: center;
    padding-top: 3em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 500;
    color: #fafafa;
    font-size: 13px;
    text-transform: uppercase;
}
#experiences {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding-top: 2em;
	background-color: #fcfcfc;
}
#about {
	position: relative;
	width: 100%;
	background-color: #f7f7f7;
	z-index: -10;
}
#tree {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 50%;
}
#about-panel {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	width: 50%;
	height: 100%;
	color: white;
	text-align: center;
	top:0;
	right: 0;
	z-index: 1;
	background-color: #CCC256;
}
#about-text {
	width: 80%;
	margin: 0 auto;
	padding-top: 8em;
}
#about h1 {
	font-family: 'Work Sans', sans-serif;
	padding-top: 0.25em;
	font-weight: 100;
	font-style: normal;
	font-size: 40px;
	text-align: center;
}
#about p {
	font-family: 'Work Sans', sans-serif;
	padding-top: 4em;
	font-weight: 100;
}
#about hr {
	width: 50%;
	border-color: white;
	border-top: 1px;
}
#tree img{
	margin:auto;
	position: absolute;
	height: 70%;
	bottom:0;
	top:0;
	left: 0; 
	right: 0; 
}
.triangle1 {
	position: absolute;
	top: -100px;
	right: 90px;
	width: 0; 
	height: 0; 
	z-index: -5;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 130px solid #FFDC85;
}
.triangle2 {
	position: absolute;
	top: -50px;
	right: 200px;
	width: 0; 
	height: 0; 
	z-index: -5;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid #C4E3FF;
}
.triangle3 {
	position: absolute;
	top: 200px;
	right: 150px;
	width: 0; 
	height: 0; 
	z-index: -5;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 120px solid #707070;
}
.triangle4 {
	position: absolute;
	bottom: 150px;
	right: 150px;
	width: 0; 
	height: 0; 
	z-index: -5;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid #998E12;
}
.triangle5 {
	background-image: url('../img/triangle.png');
	background-repeat: no-repeat;
	transform: rotate(180deg);
	position: absolute;
	bottom: 0;
	opacity: 0;
	right: 80px;
	z-index: -5;
	width: 200px;
	height: 200px;
}

#work, #projects {
	position: relative;
	width: 100%;
	background-color: #f7f7f7;
	z-index: 5;
	overflow: hidden;
}
#work img, .project-image {
	width: 130px;
	top: 7em;
	left: 50%;
	display: inline-block;
	vertical-align: top;
	padding-right: 4em;    
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
	-webkit-transition: all 0.1s ease;
}
#work img:hover, .project-image:hover {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.project-image img{
	width: 100%;
}
#jobs, .projects {
	padding-top: 8em;
	font-family: 'Work Sans', sans-serif;
	position: absolute;
	top:0;
	right:-17px;
	left:0;
	bottom:0;
	overflow-y:scroll;
	z-index: -15;
}
#jobs h4 {
	font-family: 'Open Sans', sans-serif;
	width: 60%;
    letter-spacing: 0.3em;
    font-weight: 700;
    padding-bottom: 1em;
	margin: 0 auto;
	margin-top: 6em;
    font-size: 11px;
    text-transform: uppercase;
	border-bottom: 1px solid #CEC8C8;
}
.job, .project {
	padding-top: 3em;
	width: 60%;
	margin: 0 auto;
}
.job .text, .project-text {
	display: inline-block;
	vertical-align: top;
	width: 70%;
}
#jobs .job h1, .project-text h1 {
	top: 0;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}
.job h2, .job h3, .project-text h2 {
	font-size: 15px;
	font-weight: 100;
	margin: 0;
}
.skill {
	border: 1px solid #998E12;
	margin-right: 0.5em;
	margin-top: 1em;
	text-transform: uppercase;
	font-weight: 500;
	width: auto;
	display: inline-block;
	font-size: 11px;
	line-height: 1.3em;
	padding: 7px 18px;
	border-radius: 8px;
}
#header-work, #header-projects {
	position: absolute;
	top: 0;
	width: 100%;
	height: 7em;
	background-color: #56B3CC;
}
#header-work h1, #header-projects h1 {
	text-align: center;
	padding-top: 1em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 500;
    color: #fafafa;
    font-size: 25px;
    text-transform: uppercase;
}

#footer{
    font-family: 'Karla', sans-serif;
	width: 100%;
	height: 5em;
	background-color: #fafafa;
	color: #333;
	text-align: center;
}
#footer ul {
	list-style-type: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
#footer li {
	float: right;
	display: block;
	color: #33312a;
	text-align: center;
	margin: 0;
	padding-right: 1em;
	text-decoration: none;
}
#footer a:link {
	text-decoration: none;
	color: #333;
}
#footer a:visited {
	color: #333;
}
#footer p {
	margin: 0;
	font-weight: 100;
	font-size: 12px;
}
#footer-box{
	margin: 0 auto;
	padding-top: 2.5em;
	width: 70%;
}
#footer #copyright {
	float: left;
}
#footer #contact {
	float: right;
}



@media only screen and (max-width: 900px) {
	.header {
		background-image: url("../img/me-small.png");
		background-size: 50%;
	}
	#jobs h4 {
		width: 90%;
	}
	#work {
		overflow: hidden;
		z-index: 5;
		position: relative;
		width: 100%;
		height: 100%;
	}
	#jobs {
		position: absolute;
		top:0;
		right:-17px;
		left:0;
		bottom:0;
		z-index: -10;
		overflow-y:scroll;
	}
	#jobs .job img {
		display: none;
	}
	.job {
		width: 90%;
		margin: 0 auto;		
	}
	.skills-list {
		width: 100%;
	}
	#nav-items {
		display: none;
	}
	#container {
		float: right;
		padding-right: 0.5em;
		font-size: 2em;
		color: #ccc;
	}

}
@media only screen and (max-width: 600px) {
	#nav-items {
		display: none;
	}
	#about #tree {
		display: none;
	}
	#about #about-panel {
		width: 100%;
	}
	#about-text {
		padding-top: 1em;
	}
}

